
 " Specify a directory for plugins
 " - For Neovim: stdpath('data') . '/plugged'
 " - Avoid using standard Vim directory names like 'plugin'
 call plug#begin('~/.vim/plugged')

 " Make sure you use single quotes

 " Shorthand notation; fetches https://github.com/junegunn/vim-easy-align
 Plug 'junegunn/vim-easy-align'

 " Any valid git URL is allowed
 Plug 'https://github.com/junegunn/vim-github-dashboard.git'

 " On-demand loading
 Plug 'scrooloose/nerdtree', { 'on':  'NERDTreeToggle' }

 " NERDTree
 Plug 'preservim/nerdtree'
 Plug 'jistr/vim-nerdtree-tabs'


 " Shorthand notation; fetches https://github.com/junegunn/vim-easy-align
 Plug 'junegunn/vim-easy-align'

 " Any valid git URL is allowed
 Plug 'https://github.com/junegunn/vim-github-dashboard.git'

 " Git
 Plug 'tpope/vim-fugitive'

 " Code completion
 Plug 'neoclide/coc.nvim', {'branch': 'release'}

 " Code commenter
 Plug 'preservim/nerdcommenter'

 " Statusbar
 Plug 'itchyny/lightline.vim'

 " Finder
 Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }
 Plug 'junegunn/fzf.vim'

 " File finder
 Plug 'vifm/vifm.vim'

 " Theme
 Plug 'morhetz/gruvbox'

 " Tabs
 Plug 'ap/vim-buftabline'

 "Installing vim-polyglot
 "Plug 'sheerun/vim-polyglot'
 "syntax on

 " Syntax highlighting
 "Plug 'dense-analysis/ale'

 Plug 'yuezk/vim-js'

 Plug 'maxmellon/vim-jsx-pretty'

 " Initialize plugin system
 call plug#end()


"syntax on                  " Enable syntax highlighting.
filetype plugin indent on  " Enable file type based indentation.

set autoindent             " Respect indentation when starting a new line.
set expandtab              " Expand tabs to spaces. Essential in Python.
set tabstop=4              " Number of spaces tab is counted for.
set shiftwidth=4           " Number of spaces to use for autoindent.
set background=dark                                                               

set backspace=2            " Fix backspace behavior on most terminals.
colorscheme ron            " Change a colorscheme.

" open new split panes to right and below
set splitright
set splitbelow

" turn terminal to normal mode with escape
tnoremap <Esc> <C-\><C-n>

" start terminal in insert mode
au BufEnter * if &buftype == 'terminal' | :startinsert | endif

" open terminal on ctrl+n
function! OpenTerminal()
  split term://bash
      resize 10
      endfunction

noremap <c-n> :call OpenTerminal()<CR>
