[Unit]
Description=JupyterLab Service
After=network.target
[Service]
Type=simple
PIDFile=/run/jupyterlab.pid
ExecStart=/home/{{remote_user}}/.local/bin/jupyter lab --no-browser --NotebookApp.allow_origin='*' --notebook-dir='/home/{{remote_user}}' --NotebookApp.allow_remote_access=True --NotebookApp.allow_password_change=True
User={{remote_user}}

Restart=on-abort
[Install]
WantedBy=multi-user.target

