[Unit]
Description=JupyterLab Service
After=network.target
[Service]
Type=simple
PIDFile=/run/jupyterlab.pid
ExecStart=docker run -d -p 10000:8888 -e JUPYTER_ENABLE_LAB=yes -v /home/{{ remote_user }}:/home/jovyan/work  jupyter/datascience-notebook

User={{remote_user}}

Restart=on-abort
[Install]
WantedBy=multi-user.target

